@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { background: #080812; color: white; }
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
